---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nathan Fellows Design: Get in Touch">
    <main>
    <Header></Header>
    <div class="start-container">
        <div class="content">
            <h1> HI I'M NATHAN</h1>
            <p>I’m a multi-disciplinary designer based in San Diego, who aims to create engaging experiences no matter the medium. 
                <br><br>
                Growing up in Oregon left me with many rainy days stuck inside, where I spent my time either drawing, making movies, or building Legos.
                Planting the seed for my love of all things creative. 
                 <br><br>
                I cultivated that love through my time at Oregon State University, where I found design to be the perfect avenue to continue my creative journey. 
                <br><br>
                Get in touch:<a class="email" href="mailto:nfellowsdesign@gmail.com"><p>nfellowsdesign@gmail.com</p></a>
            </p>
        </div>
    </div>
    </main>
    <Footer></Footer>
</Layout>
<style>
    main{
        color: #1170ff;
        min-height: 99vh;
        height: 125vh;
    }
    .start-container{
		padding-top: 8vh;
        height: 85vh
	}
    .content{
		width: 38rem;
		margin-left: auto;
		margin-right: auto;
	}
    h1 {
        font-size: 2.5rem;
        
    }
    p{
        font-size: 1.4rem;
        font-weight: 300;
    }
</style>