---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Footer from '../components/Footer.astro';

import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
---

<Layout title="Nathan Fellows Design">
	<main>
		<div class="top-container">
			<div class="intro">
				<h2 class="text-gradient">HI, I'M NATHAN</h2>
				<p class="text-gradient"> I’M A MULTI-DISCIPLINARY DESIGNER, WORKING IN BRANDING AND GRAPHIC DESIGN </p>
			</div>
			<div><Image class="logo" src={logo} alt="Nathan Fellows logo" width={100}></Image></div>
		</div>
		<div role="list" class="card-container">
			<Card
				href="/Cynthias/"
				title="CYNTHIA'S"
			/>
			<Card
				href="/Deliciously/"
				title="DELICIOUSLY"
			/>
			<Card
				href="/United/"
				title="UNITED WAY"
			/>
			<Card
				href="/Rise/"
				title="RISE"
			/>
			<Card
				href="/Other/"
				title="OTHER"
			/>
		</div>
		<div class="bottom-container">
			<div class="contact-box">
			<Button href="/Contact/" title="ABOUT ME" target=""></Button>
			</div>
		</div>
	</main>
	<Footer></Footer>
</Layout>

<style>
	main {
		padding: 2rem;
		width: calc(99vw - 4rem);
		height: calc(99vh - 4rem);
		color: white;
		line-height: 1.5;
	}
	h2 {
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: .2em;
		margin-top: 0rem;
	}
   p{
		font-size: 1.1rem;
		font-weight: 300;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.top-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: calc(99vw - 4rem);
		height: 20vh;
	}
	
	.card-container {
		display: flex;
		width: calc(80vw - 7.2rem);
		flex-direction: row;
		align-items: center;
		gap: .8rem;
		height: 60vh;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
	}
	@media only screen and (max-width: 800px) {
		.card-container {
				display: flex;
				width: calc(90vw);
				flex-direction: column;
				align-items: center;
				gap: .8rem;
				height: 60vh;
				margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				margin-bottom: auto;
			}
	}
	.bottom-container{
		width: calc(99vw - 4rem);
		height: 10vh;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.logo {
   
    }
	.intro {
		width: 500px;
	}
	.contact-box {
		display: inline-block;
 		align-self: flex-end;
	}
</style>
