---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nathan Fellows Design">
	<main>
		<Header></Header>
		<div role="list" class="card-container">
			<div class="link-card cyn">
				<a href="/Cynthias/">
					<p>CYNTHIA'S</p>
				</a>
			</div>
			<div class="link-card rise">
				<a href="/Rise/">
					<p>RISE</p>
				</a>
			</div>
			<div class="link-card del">
				<a href="/Deliciously/">
					<p>DELICIOUSLY</p>
				</a>
			</div>
			<div class="link-card uni">
				<a href="/United/">
					<p>UNITED WAY</p>
				</a>
			</div>
			<div class="link-card oth">
				<a href="/Other/">
					<p>OTHER</p>
				</a>
			</div>
		</div>
	</main>
	<Footer></Footer>
</Layout>

<style>
	.card-container {
		display: flex;
		width: 99vw;
		flex-direction: row;
		align-items: center;
		height: 84vh;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: 1rem;
		gap: 8px
	}
	.bottom-container{
		width: calc(99vw - 4rem);
		height: 10vh;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}	
	.link-card {
		list-style: none;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 1px;
		transition: background-image 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		border-style: solid;
		border-color: #1170ff;
		border-width: 1px;
	}
	.link-card.rise{
		background-image: url("../images/projectimages/Rise/rise1.jpg");
		background-position: center;
		background-size: cover;
		background-color: #f5f5f5;
	}
	.link-card.cyn{
		background-image: url("../images/projectimages/Cynthias/CYN1.jpg");
		background-position: center;
		background-size: cover;
		background-color: #f5f5f5;
	}
	.link-card.uni{
		background-image: url("../images/projectimages/Unitedway/UNITED1.jpg");
		background-position: center;
		background-size: cover;
		background-color: #f5f5f5;
	}
	.link-card.del{
		background-image: url("../images/projectimages/Deliciously/DEL1.jpg");
		background-position: center;
		background-size: cover;
		background-color: #f5f5f5;
	}
	.link-card.oth{
		background-image: url("../images/projectimages/Other/Other1.jpg");
		background-position: center;
		background-size: cover;
		background-color: #f5f5f5;
	}
	.link-card > a {
		width: 100%;
		height: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		color: #1170FF;
		align-items: center;
		justify-content: center;
		text-align: center;
		display: flex;
	}
	.link-card p {
		margin-top: -1.5rem;
		font-size: 1.1rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		font-weight: 200;
		opacity: 0%;
	}
	.link-card:is(:hover, :focus-within) {
		background-image: linear-gradient(#1170ff, #1170ff);
	}
	.link-card:is(:hover, :focus-within) p {
		color: #fff;
		opacity: 100%;
	}

</style>
