---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource-variable/outfit';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 20, 58, 234;
		--accent-light: 80, 204, 255;
		--accent-dark: #1170ff;
		--accent-gradient: linear-gradient(
			60deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--accent-gradient2: linear-gradient(
			0deg,
			#CFE2FF 5%,
			#f5f5f5 40%
		);
	}
	html {
		font-family: 'Outfit Variable', sans-serif;
		background: #1170FF;
		background-image: var(--accent-gradient2);
		background-size: 100%;
		overflow-x: hidden;
	}
</style>
